
.footer {
  background-color: #89A8B2; 
  color: #fff; 
  padding: 20px; 
  text-align: center; 
 
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.footer-content p {
  margin: 0; 
  font-size: 14px; 
}


.social-media {
  margin-top: 10px; 
}

.social-media a {
  color: #fff; 
  margin: 0 10px; 
  text-decoration: none; 
  font-size: 16px; 
}

.social-media a:hover {
  text-decoration: underline; 
}
